#portfolio-section {
  padding: 80px 15px;
}
#portfolio-section .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#portfolio-section .title .square {
  background: #ffc07c;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25px;
}
#portfolio-section .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "noto sans jp", sans-serif;
  color: #16171b;
  z-index: 1;
  letter-spacing: 20px;
}
#portfolio-section .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 10px;
}
#portfolio-section .portfolio-container .box {
  background: #f5f0f0;
  transition: all 0.9s ease-in-out;
  cursor: pointer;
  width: 100%;
  display: block;
  overflow: hidden;
}
#portfolio-section .portfolio-container .box:hover {
  -webkit-box-shadow: 0px 14px 27px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 14px 27px 10px rgba(0, 0, 0, 0.25);
  opacity: 0.5;
}
#portfolio-section .portfolio-container .box.image1 {
  background: #ffd272;
  grid-column: 1/3;
  grid-row: 1/2;
}
#portfolio-section .portfolio-container .box .image .title .text {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 40px;
  color: #16171b;
  text-transform: uppercase;
  text-decoration: none;
  transform: translate3d(0px, 400px, 0);
}
#portfolio-section .portfolio-container .box:hover .image .title .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.7s ease-in-out;
}
#portfolio-section a {
  text-decoration: none;
}
#portfolio-section .portfolio-container .box.image4 {
  /* background: url("/img/mypic.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  background: #bbe7ff;
  grid-column: 2/4;
  grid-row: 2/2;
}
#portfolio-section .portfolio-container .box.image3 {
}
#portfolio-section .portfolio-container .box.image4 {
}
#portfolio-section .portfolio-container .box.image5 {
}
#portfolio-section .portfolio-container .box.image6 {
}
#portfolio-section .portfolio-container .box h5 {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
#services .portfolio-container .box p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #b3b3b3;
}
/*  tablets n pads */
@media only screen and (max-width: 960px) {
  #portfolio-section .portfolio-container .box.image1 {
    background: #ffd272;
    grid-column: 1/4;
    grid-row: 1/1;
  }
  #portfolio-section .portfolio-container .box.image2 {
    background: #ffd272;
    grid-column: 1/4;
    grid-row: 2/2;
  }
  #portfolio-section .portfolio-container .box.image3 {
    background: #ffd272;
    grid-column: 1/4;
    grid-row: 3/3;
  }
  #portfolio-section .portfolio-container .box.image4 {
    background: #ffd272;
    grid-column: 1/4;
    grid-row: 4/4;
  }
}
/* mobile */
@media only screen and (max-width: 767px) {
  #portfolio-section .title h1 {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}
