#services {
  padding: 80px 15px;
}
#services .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#services .title .circle {
  background: #ffc07c;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
}
#services .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "noto sans jp", sans-serif;
  color: #16171b;
  z-index: 1;
  letter-spacing: 20px;
}
#services .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
#services .services-container .box {
  background: rgba(255, 255, 255, 0);
  padding: 40px;
  transition: all 0.9s ease-in-out;
}
#services .services-container .box:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 14px 27px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 14px 27px 10px rgba(0, 0, 0, 0.25);
}
#services .services-container .box .fas {
  font-size: 2rem;
  margin-bottom: 2rem;
}
#services .services-container .box h5 {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
#services .services-container .box p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #b3b3b3;
}
#services .services-container .box.blue {
  border-bottom: 2px solid #bbe7ff;
}
#services .services-container .box.red {
  border-bottom: 2px solid #ff5253;
}
#services .services-container .box.yellow {
  border-bottom: 2px solid #ffc853;
}
/*  tablets n pads */
@media only screen and (max-width: 960px) {
  #services .services-container {
    grid-template-columns: 100%;
  }
  #services .services-container .box {
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 14px 27px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 14px 27px 10px rgba(0, 0, 0, 0.25);
  }
}
/* mobile */
@media only screen and (max-width: 767px) {
  #services .title h1 {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}
